# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# generated outputs
body.urdf
world.sdf

# sensors data
data/
*.npy

# debug artifacts
crash.log
gui_*.py
*.log

# debug artifacts
crash.log
gui_*.py
*.log

.DS_Store

.DS_Store
*.png
